@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2'), url(http://fonts.gstatic.com/s/opensans/v10/EInbV5DfGHOiMmvb1Xr-hnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArifk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FAriRsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), url(http://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/IczWvq5y_Cwwv_rBjOtT0w.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaIxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Heavy'), local('Raleway-Heavy'), url(http://fonts.gstatic.com/s/raleway/v9/PKCRbVvRfd5n7BTjtGiFZPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2'), url(http://fonts.gstatic.com/s/raleway/v9/PKCRbVvRfd5n7BTjtGiFZBsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}

/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h2, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, /*hgroup,*/
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, /*hgroup,*/ menu, nav, section {
    display: block;
}

i, cite, em, var, address, dfn {
    font-style: italic;
}

body {
    background: #1b519d url(blue-horizon-silhouette-clouds-2080-svg.svg) no-repeat center top fixed;
    background-size: cover;
    position: relative !important;
    margin:0 auto;
}

body,
.normal-text{
    font-family: 'Open Sans', Arial,sans-serif;
    color: #333333;
    text-decoration: none;
}

header{
    background: #0b3b8b;
    background-size: cover;
    width: 100%;
    position:fixed;
    top:0;
    z-index: 999 !important;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, .9);
    padding-bottom: 5px;
}

header:hover{
    box-shadow: 0 15px 15px -15px rgba(255, 255, 255, .9);
}

.bg_cloud {
    height: 150px;
}

#cloud1 {
    height: 130px;
    width: 100%;
    background: url("cloud1.png") repeat-x scroll center center transparent;
    position: absolute;
    bottom: 5px;
    animation:animCloud1 60s linear infinite;
}

#cloud2 {
    top: 0;
    position: absolute;
    width: 100%;
    background: url("cloud2.png") repeat-x scroll center center;
    height: 150px;
    opacity: .15;
    animation:animCloud2 63s linear infinite;
}

@keyframes animCloud1 {
    from {background-position: 0 50%;}
    to {background-position: -1440px 50%;}
}
@keyframes animCloud2 {
    0% {background-position: 0 50%;
        opacity: .2;}
    50% {opacity: .05;}
    100%{background-position: -1012px 50%;
        opacity: .2;}
}

header:hover .bg_cloud #cloud1{
    animation-play-state: paused;
    width: 100%;
}

.container{
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.logo {
    margin-left: 30px;
    font-family: "Raleway Bold", Arial, sans-serif;
    font-size:  23px;
    text-transform: uppercase;
    text-decoration: none;
    position:absolute;
    bottom: 0;
    left: 0;
    float: left;
}

.personal-information{
    margin-bottom: 3px;
    text-align: right;
    position:absolute;
    bottom:0;
    right:0;
    font-family: 'Open Sans', Arial,sans-serif;
    font-size: medium;
    text-transform: none;
    font-weight: normal;
}

.personal-information ul li {
    float: left;
}

ul.personal_and_contact_information{
    padding: 0;
    margin: 0;
    list-style-type:none;
}

ul.personal_and_contact_information li div:first-child{
    width: 40px;
    padding-right: 5px;
    text-align: right;
    float: left;
    opacity: .7;
}

ul.personal_and_contact_information li div:first-child img{
    height: 1em;
    vertical-align: middle;
}
ul.personal_and_contact_information li div:first-child span{
    display: none;
}
ul.personal_and_contact_information li:hover div:first-child img{
    display: none;
}
ul.personal_and_contact_information li:hover div:first-child span{
    display: inline;
}

/* CONTACT INFORMATION */
/* ----------------------------------------- */

.contacts {
    margin-bottom: 3px;
    margin-right: 50px;
    padding-right: 1em;
    position:absolute;
    bottom: 0;
    right: 0;
    font-size: large;
    text-align: right;
}

a.mailto:hover {
    border-bottom: 1px dashed;
}
a.mailto:active {
    background: rgba(27, 81, 157, .1);
}

#photo {
    height: 105px;
    vertical-align: middle;
    background: #f9f9f9;
    padding: 5px;
    border:2px solid #1b519d;
    border-radius:100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5),
    0 0 5px 5px rgba(255, 255, 255, .5),
    -1px -1px 3px #666666 inset,
    1px 1px 3px #ffffff inset;
}
#photo:active {
    height: 111px;
    padding: 2px;

}

#wrapper{
    position: relative;
    background-color: rgba(255, 255, 255, .1);
    margin:155px auto 100px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    padding:0 50px;
    border-radius: 0 0 50px 50px;
    min-width:735px;
    max-width:800px;
}
#wrapper:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, .9);
}
#wrapper:active {
    background-color:rgba(255, 255, 255, .2);
}

#vertical-fixed-block{
    position: fixed;
    top: 50%;
    left: 0;
    height: 250px;
    margin-top: -125px;
    width: 100%;
}
#vertical-fixed-block-wrapper{
    position: relative;
    margin:0 auto;
    height: 100%;
    width:900px;
    background: linear-gradient(to bottom, rgba(255,255,255,.0), rgba(255,255,255,0.4), rgba(255,255,255,.0)) no-repeat 0 0;
    background-size: 100% 100%;
    background-position: 0 50%;
}

#timeline-pointer{
    position: absolute;
    left: 50px;
    width: 150px;
    height:100%;
    margin-top: -50px;
    background-color: rgba(0, 0, 0, .45);
    background: linear-gradient(to bottom, rgba(1,1,1,.0), rgba(1,1,1,.4), rgba(1,1,1,.7)) no-repeat 0 0;
    border-radius: 50%;
}

#paper {
    margin: 0 auto;
    position: relative;
    background: #eef3f6;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 149px,
    rgba(245, 246, 248, 1), rgba(245, 246, 248, 1) 150px, rgba(245, 246, 248, 1) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 149px,
    rgba(245, 246, 248, 1), rgba(245, 246, 248, 1) 150px, rgba(245, 246, 248, 1) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 149px,
    rgba(245, 246, 248, 1), rgba(245, 246, 248, 1) 150px, rgba(245, 246, 248, 1) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 149px,
    rgba(245, 246, 248, 1), rgba(245, 246, 248, 1) 150px, rgba(245, 246, 248, 1) 100%);
    background: linear-gradient(left, rgba(255, 255, 255, .1), rgba(255, 255, 255, .1) 149px,
    rgba(245, 246, 248, 1), rgba(245, 246, 248, 1) 150px, rgba(245, 246, 248, 1) 100%);
    overflow: hidden;
}

#vacancy-block {
    position: absolute;
    right: -90px;
    top: 30px;
    width: 400px;
    background: #114291;
    text-decoration: none;
    transform: rotate(35deg);
    opacity: .4;
}
#vacancy-block:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .9);
    opacity: .9;
}

#vacancy-block-container{
    background-color:rgba(255, 255, 255, .1);
    width: 100%;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: #F5F6F8;
    text-decoration: none;
}
#vacancy-block-container:active{
    background-color:rgba(255, 255, 255, .2);
}

        #logo{
            height: 50px;
            margin: 5px;
            vertical-align: middle;
        }

.corner1, .corner2, .corner3 {
    position: absolute;
    background: rgba(27, 81, 157, .05);
    transform: rotate(45deg);
}

.corner1:hover, .corner2:hover, .corner3:hover{
    background: rgba(27, 81, 157, .10);
}

.corner1:active, .corner2:active, .corner3:active{
    background: rgba(27, 81, 157, .15);
}

.corner1{
    width: 210px;
    height: 210px;
    bottom: -105px;
    right: -105px;
}
.corner2{
    width: 140px;
    height: 140px;
    bottom: -70px;
    right: -70px;
}
.corner3{
    width: 70px;
    height: 70px;
    bottom: -35px;
    right: -35px;
}

.row{
    margin: -1px 0 0;
    float: left;
}

.timeline-title,
.timeline-progress,
.timeline-space,
.timeline-point,
.end-point,
.timeline-marker,
.timeline-education,
.timeline-work{
    position: relative;
    float: left;
    width: 150px;
}

.timeline-title{
    background: url("progress-section-title_.svg") no-repeat scroll center 51% / 400px 500px transparent;
    height: 70px;
}

.timeline-progress{
    background: url("progress-bar_.svg") repeat-y scroll center center / 400px 9px transparent;
    height: 40px;
}

.timeline-space{
    background: rgba(245, 246, 248, 1);
    height: 150px;
}

.timeline-point{
    background: url("progress-point_.svg") repeat scroll 50% 49% / 400px 500px transparent;
    height: 82px;
}

.end-point{
    background: url("progress-point_.svg") repeat scroll 50% 48% / 400px 500px transparent;
    height: 59px;
}

.timeline-marker{
    background: url("progress-marker_.svg") repeat scroll center center / 400px 300px transparent;
    height: 40px;
}

.timeline-education{
    background: url("progress-education_.svg") no-repeat scroll center 51% / 400px 500px transparent;
    height: 120px;
}
.timeline-work{
    background: url("progress-work_.svg") no-repeat scroll center 51% / 400px 500px transparent;
    height: 120px;
}
.line-content{
    float: left;
    padding: 0 15px;
    width: 550px;
}
div.skill{
    float: left;
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    margin: 0 10px;
}

a.external {
    background-position: right 60%;
    background-repeat: no-repeat;
    background-image: url("external_link-icon-bk.svg");
    background-size: 0.65em 0.65em;
    padding-right: 0.65em;
}

a.external:hover {
    text-decoration: underline;
    background-image: url("external_link-icon-bl.svg");
}

a.external:active {
    background: rgba(27, 81, 157, .1);
}

.thank-you {
    font-style: italic;
    font-size: 67px;
    line-height: 48px;
    color:rgba(27, 81, 157, .35);
    position: relative;
    left: 17%
}

div.print-icon{
    position:relative;
    float: left;
    width: 60px;
    height: 60px;
    margin: 5px 20px;
    background-size: 100% 100%;
    opacity: .7;
    cursor:pointer;
}
div.print-icon:before {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, .35) 0%, rgba(0, 0, 0, 0) 80%);
    transition-duration: .3s;
    transition-property: transform, opacity;
}
div.print-icon:hover{
    transform: translateY(-5px);
}
div.print-icon:hover:before{
    opacity: 1;
    transform: translateY(5px);
}
div.print-icon:active{
    opacity: .9;
}

#print{
    background-image: url(Printer-icon-bk_.svg);
}
#print:hover{
    background-image: url(Printer-icon-bk-rd_.svg);
}
#pdf{
    background-image: url(pdf-icon-bk_.svg);
}
#pdf:hover{
    background-image: url(pdf-icon-bk-rd_.svg);
}
.thank-you:after {
    content: "";
    position: absolute;
    top: -4px;
    left: -35px;
    width: 75%;
    height: 120%;
    background: linear-gradient(to left, rgba(255,255,255,.0), rgba(245, 246, 248, .8), rgba(255,255,255,.0)) no-repeat -2em 0;
    background-size: 2em 100%;
    transform: skewX(-50deg);
    -webkit-animation:anim 4s infinite;
    -moz-animation:anim 4s infinite;
    -o-animation:anim 4s infinite;
    animation:anim 4s infinite;
}

@-webkit-keyframes anim{
    0% {background-position: -50% 0;}
    50% {background-position: 150% 0;}
    100%{background-position: -50% 0;}
}
@-moz-keyframes anim{
    0% {background-position: -50% 0;}
    50% {background-position: 150% 0;}
    100%{background-position: -50% 0;}
}
@-ms-keyframes anim{
    0% {background-position: -50% 0;}
    50% {background-position: 150% 0;}
    100%{background-position: -50% 0;}
}
@-o-keyframes anim{
    0% {background-position: -50% 0;}
    50% {background-position: 150% 0;}
    100%{background-position: -50% 0;}
}
@keyframes anim{
    0% {background-position: -50% 0;}
    50% {background-position: 150% 0;}
    100%{background-position: -50% 0;}
}

.end{
    clear:both;
}

footer{
    margin:0 auto;
    padding:50px 50px;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
}

blockquote {
    margin: 0 auto;
    font-size: large;
    padding: 0 0 0 60px;
    font-style: italic;
    position: relative;
}

blockquote:before {
    content: '\201C';
    position: absolute;
    font-size: 5em;
    font-family: serif;
    left: 0;
    top: -20px;
    line-height: 1;
}

.quote-author {
    font-size: medium;
    font-weight: 700;
}

.backtotop_wrapper {
    position: relative;
    width: 50px;
    margin: 0 auto;
}

#backtotop {
    position: absolute;
    bottom: -60px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    overflow: hidden;
}

#backtotop:hover, #backtotop:hover div{
    box-shadow: 0 0 10px rgba(255, 255, 255, .9);
    border: 1px solid rgba(0, 0, 0, .1);
}
#backtotop:active{
    background-color:rgba(255, 255, 255, .2);
}
#backtotop:active div, #backtotop div:active{
    margin: 16px auto;
}
#backtotop div{
    width: 22px;
    height: 22px;
    margin: 15px auto;
    border: 1px solid rgba(255, 255, 255, .1);
    box-shadow: 0 0 10px rgba(0, 0, 0, .9);
    transform: rotate(45deg);
}
#copyright{
    position: absolute;
    right: 20px;
    bottom: -100px;
    color: rgb(64, 93, 148);
}

i{
    color: #808080;
    font-size: medium;
    font-weight: normal;
}

.font-size-small{
    font-size: small;
}
.font-size-large{
    font-size: large;
}

.black_text{
    color: black;
}

.background-transparent-white{
    background: rgba(255, 255, 255, .3);
}

.color_text,
a.external:hover,
a.mailto:hover {
    color: #1b519d;
}

h2, h3{
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-left: -15px;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #CCC;
}


@media all and (max-width: 800px),all and (max-height: 650px),print{

    header {
        background: none;
        position: relative;
        min-width: 740px;
    }

    .container {
        width: 720px;
    }

    .logo {
        margin-left: 10px;
    }

    .contacts {
        margin-right: 10px;
        right: 40px;
        font-size: 16px;
    }

    .personal-information {
        right: 35px;
        font-size: 15px;
    }

    ul.personal_and_contact_information li div:first-child {
        width: 35px;
    }

    #wrapper {
        min-width: 600px;
        max-width: 700px;
        margin: 0 auto 100px;
    }

    #paper {
        background: #F5F6F8;
        padding-left: 20px;
    }

    .timeline-title,
    .timeline-progress,
    .timeline-space,
    .timeline-point,
    .end-point,
    .timeline-marker,
    .timeline-education,
    .timeline-work,
    #vertical-fixed-block {
        display: none;
    }

    .row{
        margin-top: 20px;
    }

    .thank-you{
        margin: 20px 0 80px;
    }

    blockquote {
        padding: 0;
    }

}

@media print{

    body{
        background: #0b3b8b;
    }

    header {
        height: 125px;
        padding-bottom: 0;
        border-bottom: solid 2px #0b3b8b;
        box-shadow: none;
    }

    .container {
        top: 33px;
        height: 90px;
        background: #F5F6F8;
        border-radius: 10px;
    }

    #photo {
        border: 3px solid #1b519d;
        box-shadow: none;
    }

    #wrapper {
        margin: 0 auto 10px;
        box-shadow: none;
        background: none;
    }

    #wrapper:hover {
        box-shadow: none;
    }

    #paper {
        padding: 0 0 10px 20px;
    }

    div.skill {
        margin: 0 15px 0 0;
    }

    #vacancy-block-container {
        border: solid 2px #A2B4D2;
    }

    .bg_cloud,
    #backtotop,
    #copyright,
    .no_print {
        display: none;
    }

    .row {
        margin-top: 7px;
    }

    div.skill {
        font-size: 16px;
    }

    i {
        font-size: 16px;
    }

    footer {
        border-top: solid 2px #ACBFDB;
        padding: 20px 50px 15px;
        border-radius: 0 0 10px 10px;
    }

    blockquote {
        font-size: medium;
    }

    blockquote:before {
        font-size: 2.5em;
        left: 30px;
        top: -15px;
    }

    .quote-author {
        font-size: 15px;
    }

    .background-transparent-white {
        background: none;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
        border-bottom: 1px solid #CCC;
    }
}
